<footer>
<ul>
	<li><a href="/fr">Accueil</a></li>
	<li><a href="/fr">Identité visuelle</a></li>
	<li><a href="/fr">Communication digitale</a></li>
	<li><a href="/fr">E-Commerce</a></li>
	<li><a href="/fr">Formation</a></li>
	<li><a href="/fr">Actualités</a></li>
	<li><a href="/fr">Devis en ligne</a></li>
	<li><a href="/fr">Mentions légales</a></li>
	<li><a href="/fr">Confidentialité</a></li>
	<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
	<!--<li>{% if page_slug is defined %} <a data-no-swup="" href="/en/{{ page_slug }}">EN</a> {% elseif post_slug is defined %} <a data-no-swup="" href="/en/blog/{{ post_slug }}">EN</a> {% endif %}</li>-->
</ul>
</footer>